// Navigation Styles here

// .navigation
.flexDisplayMethod(@justify, @row) {
    display: flex;
    justify-content: @justify;
    flex-direction: @row;
};

.navBarDesign (@font-color){
    color: @font-color;
    font-size: @navFont;
    text-decoration: none;
    padding-top: 60px;
    padding-right: 40px;
}

//     .navBar nav a (@font-color){
//          color: @font-color;
//         text-decoration: none;
//         padding-right: 40px;  
//         font-size: 16px;
//         display: spac
//   }

  